*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 218, 218);
    justify-content: center;
    max-width: 950px;
    width: 100vh;
    margin: auto;

}

header{
    background-color: blanchedalmond;
    
    margin-top: 10px;
    text-align: center;
    max-width: 1000px;
    width: 100vh;
    height:90px;
    padding:10px;
    
}

nav{
    background-color: blue;
    margin: auto;
    text-align: center;
    max-width: 950px;
    width: 95vh;
    padding:2px;
}

main{
    background: green;
    
    margin-top: 10px;
    text-align: center;
    max-width: 1000px;
    width: 100vh;
    height: 70vh;
    display: flex;
}

section{
    background-color: chartreuse;
    max-width: 650px;
    width: 100vh;
    height: 60vh;
    margin: 50px 8px 2px -18px;
}

article{
    background: rgb(8, 36, 97);
    max-width: 600px;
    width: 100vh;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 25vh;
}

.calendar{
    flex-direction: row;
    flex-wrap: wrap;
}

.week{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px 0;
}

.week li{
    background-color: coral;
    list-style: none;
    text-align: right;
    width: 40px;
    height:20px;
}

.container{
    display: flex;
    
}


.day{
    color: aqua;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.unit{
    background-color: darkgreen;
    width: 100px;
    height: 24px;
}

.day li{
    width: 75px;
    height:25px;
    list-style: none;
    text-align: center;
    
}


aside{
    background-color: crimson;
    max-width: 250px;
    width: 100vh;
    height: 60vh;
    margin: 50px 15px 5px;
}

footer{
    background-color: black;
    max-width: 1000px;
    width: 100vh;
    height: 50px;
    margin-top: 10px;
}

