
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
    justify-content: center;
    max-width: 950px;
    width: 100vh;
    margin: auto;

}

.header{
    background-color: rgb(114, 105, 91);
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    max-width: 1000px;
    width: 100vh;
    height:150px;
    padding:10px;
    
}

nav{
    background-color: blue;
    display: flex;
    margin:auto;
    margin-top: 45px;
    max-width: 950px;
    width: 95vh;
    height: 60px;
    padding:2px;
}

.menu{
    display:flex;
}

.menu li{
    display: flex;
    justify-content: end; 
    margin-left: 15px;
}

main{
    background: green;
    
    margin-top: 10px;
    text-align: center;
    max-width: 1000px;
    width: 100vh;
    height: 70vh;
    display: flex;
}

section{
    background-color: chartreuse;
    max-width: 650px;
    width: 100vh;
    height: 60vh;
    margin: 50px 8px 2px -18px;
}

article{
    background: rgb(8, 36, 97);
    max-width: 600px;
    width: 100vh;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 25vh;
}

.calendar{
    flex-direction: row;
    flex-wrap: wrap;
}

.week{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px 0;
    
}

.week li{
    background-color: coral;
    
    text-align: center;
    width: 75px;
    height:25px;
}

.container{
    display: flex;
    
}


.day{
    color: aqua;
    background-color: rgb(202, 35, 35);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 580px;
    height:160px;
}


.notePad {
    background-color: black;
    position:absolute;
    left: -1000px; /* numero para cobrir 225px */
    width: 580px;
    height:160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}



.unit{
    background-color: rgb(240, 208, 69);
    width: 100px;
    height: 24px;
}

.unit:hover{
    color: crimson;
    background-color: #f1f1f7;
    width:80px;
    height: 48px;
    cursor: pointer;
}

.unitt{
    margin-left: -0px;
    background-color: rgb(240, 208, 69);
}

.unitt:hover{
    color: crimson;
    background-color: #f1f1f7;
    width:80px;
    height: 48px;
    cursor: pointer;
}

.unitl{
    margin-right: 337px;
    background-color: rgb(240, 208, 69);
}

.unitl:hover{
    color: crimson;
    background-color: #f1f1f7;
    width:80px;
    height: 48px;
    cursor: pointer;
}

.open{
    background-color: cornsilk;
    width: 500px;
    height: 400px;
}

.day li{
    width: 75px;
    height:25px;
    list-style: none;
    text-align: center;
    
}


aside{
    background-color: crimson;
    max-width: 250px;
    width: 100vh;
    height: 60vh;
    margin: 50px 15px 5px;
}

footer{
    background-color: black;
    max-width: 1000px;
    width: 100vh;
    height: 50px;
    margin-top: 10px;
}